@media screen and (min-width: 900px) {
.topnav {
  overflow: hidden;
  background-color: white;
  padding-top:10px;
    position: top; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color:#3688E0;
  color: white;
}

.topnav a.active {
  background-color:white;
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  padding-top:60px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  padding-right:15px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 900px) {
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: white;
  height: 500px;
  color: black;
  border-radius: 10px;
}
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  background:white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #3688E0;
  color: white;
}

.active {
  background-color: #3688E0;
  color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid #3688E0;
  background-color: black;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: black;
  color:white;
  font-family:menlo;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white;
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #3688E0;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 0px solid #ccc;
  border-top: none;
}

.box {
  display: inline-block;
}
p {
  width: 0;
  min-width: 100%;
}
 figcaption { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center {
  margin: auto;
  width:60%;
  border: 3px solid white;
  padding:70px;
  text-align:center;
}
 .pdf {
        width: 70%;
        display:block;
        margin-left:auto;
        margin-right:auto;
        aspect-ratio: 5 / 3;
    }


